{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block page %}
    <section id="content">
        <div class="block-1 box-1">
            <div>
                {% if error %}
                  <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                  <label for="username">Identifiant :</label>
                  <input type="text" id="username" name="_username" value="{{ last_username }}" />

                  <label for="password">Mot de passe :</label>
                  <input type="password" id="password" name="_password" />
                  <br />
                  <input type="submit" value="Connexion" class="button-2"/>
                </form>
            </div>
        </div>
    </section>
{% endblock %}